<appSettings>
  <!-- Update these with your BotId, Microsoft App Id and your Microsoft App Password -->
  <!--<add key="BotId" value="Kingston-QnA" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />-->
  <!-- QnA Marker subscription key and knowledge base -->
  <!--<add key="QnASubscriptionKey" value="" />
  <add key="QnAKnowledgebaseId" value="" />-->

  <!-- Add your connection string for routing data storage below -->
  <add key="RoutingDataStorageConnectionString" value="" />

  <!-- Update these with your LUIS appId and subscription key -->
  <!--<add key="LuisAppId" value="" />
  <add key="LuisSubscriptionKey" value="" />-->
</appSettings>