<appSettings>
  <!-- Update these with your BotId, Microsoft App Id and your Microsoft App Password -->
  <add key="BotId" value="Angular-QnA-Service-Bot" />
  <add key="MicrosoftAppId" value="1d027c2e-a956-49fa-9f78-b5b209d7ff5b" />
  <add key="MicrosoftAppPassword" value="N7N[vct7M1Z^k49o" />
  <!-- QnA Marker subscription key and knowledge base -->
  <add key="QnASubscriptionKey" value="b8917d880a8c4a4385eaee012182951f" />
  <add key="QnAKnowledgebaseId" value="9fcbabcb-fccb-4d30-98e0-84b30c362952" />

  <!-- Add your connection string for routing data storage below -->
  <add key="RoutingDataStorageConnectionString" value="" />
</appSettings>